services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.0.0
    container_name: keycloak
    command: start-dev
    environment:

      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://host.docker.internal:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: admin123

      BACKEND_SERVICE_URL: "http://host.docker.internal:9090"
      SYNC_SECRET: "acfb6dc1fee106fff969c74338ce4aa4e15287546ba493c63b4104cc80c28133af64dc71c712dae5564f3e6fe602ccc11ce1352c5e22265249585ed89d23075d"
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin

      KC_HOSTNAME: localhost
    ports:
      - "8080:8080"
    volumes:
      - keycloak_data:/opt/keycloak/data
      - /home/akhbabez/IdeaProjects/keycloak-synchronizer/target/keycloak-synchronizer-1.0-SNAPSHOT.jar:/opt/keycloak/providers/keycloak-synchronizer.jar
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  keycloak_data: