SPRING_PROFILES_ACTIVE=dev

POSTGRES_SUPERUSER=
POSTGRES_SUPERPASS=

APP_DB_URL=jdbc:postgresql://localhost:5432/privote
APP_DB_NAME=privote

APP_DB_USER=
APP_DB_PASSWORD=

KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=
KEYCLOAK_DB_PASSWORD=

PROOF_DB_NAME=proofdb
PROOF_DB_USER=
PROOF_DB_PASSWORD=

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

KC_ISSUER_URI=http://localhost:8080/realms/voting-realm
KC_CLIENT_ID=voting-backend

#This is the voting-backend client secret
VOTING_BACKEND_CLIENT_SECRET=

#This is the voting-admin client secret
VOTING_ADMIN_CLIENT_SECRET=

#keycloak sync secret
SYNC_SECRET=SOME_RANDOM_SECRET_VALUE_HERE

RELAYER_PRIVATE_KEY=0xRelayerPrivateKeyHere
CONTRACT_ADDRESS=0xYourContractAddressHere
ELECTION_FACTORY_ADDRESS=0xElectionFactoryAddressHere

ETHEREUM_RPC_URL=http://localhost:8545